.tile {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #eee4da;
    color: #776e65;
    font-weight: bold;
    font-size: 35px;
    border-radius: 3px;
    transition: top 100ms ease-in-out, left 100ms ease-in-out, transform 100ms ease-in-out;
    z-index: 10;
}

.tile2 {
    background: #eee4da;
}

.tile4 {
    background: #ede0c8;
}

.tile8 {
    color: #f9f6f2;
    background: #f2b179;
}

.tile16 {
    color: #f9f6f2;
    background: #f59563;
}

.tile32 {
    color: #f9f6f2;
    background: #f67c5f;
}

.tile64 {
    color: #f9f6f2;
    background: #f65e3b;
}

.tile128 {
    color: #f9f6f2;
    background: #edcf72;
    font-size: 30px;
}

.tile256 {
    color: #f9f6f2;
    background: #edcc61;
    font-size: 30px;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.2381), inset 0 0 0 1px rgba(255, 255, 255, 0.14286);
}

.tile512 {
    color: #f9f6f2;
    background: #edc850;
    font-size: 30px;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.31746), inset 0 0 0 1px rgba(255, 255, 255, 0.19048);
}

.tile1024 {
    color: #f9f6f2;
    background: #edc53f;
    font-size: 22px;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.39683), inset 0 0 0 1px rgba(255, 255, 255, 0.2381);
}

.tile2048 {
    color: #f9f6f2;
    background: #edc22e;
    font-size: 22px;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.47619), inset 0 0 0 1px rgba(255, 255, 255, 0.28571);
}

/* アニメーション */
@keyframes appear {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.newTile {
    animation: appear 200ms ease 100ms;
    animation-fill-mode: backwards;
}

@keyframes pop {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

.mergedTile {
    z-index: 20;
    animation: pop 200ms ease;
}

@media (max-width: 520px) {
    .tile {
        font-size: 25px;
    }

    .tile128,
    .tile256,
    .tile512 {
        font-size: 20px;
    }

    .tile1024,
    .tile2048 {
        font-size: 16px;
    }
}